* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	list-style-type: none;
  }



.header_task {
	position:sticky;
	top: 0;
	width: 100%;
	background-color: #F3C892;
	border: 1px solid;
	height: 40px;
	margin-bottom: 20px;
}


/* #area-tarefas {
  border: solid 10px #FFF1BD;
	border-radius: 20px;
	background: seashell;
	height: 500px;
	width: 450px;
	margin: auto;
	margin-top: 15px;
} */

#content {
	margin: auto;
}

#area-tarefas {
	height: 450px;
	width: 450px;
	margin: auto;
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13.5px );
	-webkit-backdrop-filter: blur( 13.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	margin: auto;
}

.riscado {
	text-decoration: line-through ;
}
/* 
https://bruno.art.br/blog/efeito-vidro-desfoque-de-fundo-com-css/ */